<!DOCTYPE html>
<html>
<head>
  <title>iWitness</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0">
  <link type='text/css' rel='stylesheet' href="application.css">
  <script type='text/javascript' src="application.js"></script>
  <script type='text/javascript' src="http://maps.googleapis.com/maps/api/js?key=<%= config['gmaps']['api_key'] %>&sensor=false&libraries=geometry"></script>
  <script type="text/javascript">
    window.flickrApiKey = "<%= config['flickr']['api_key'] %>";

    <% if config['analytics']['enabled'] %>
      var _gaq = _gaq || [];

      _gaq.push(['_setAccount', '<%= config['analytics']['account_id'] %>']);

      <% if env == 'development' %>
        _gaq.push(['_setDomainName', 'none']);
        _gaq.push(['_setAllowLinker', true]);
      <% end %>

      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    <% end %>
  </script>
</head>
<body>
  <div id="radar-background"></div>
  <div id="container">
    <script type='text/x-handlebars'>
      {{view IWitness.SearchView}}
      {{view IWitness.StarredView}}
      {{view IWitness.WelcomeView id="welcome-overlay"}}
    </script>

    <div id="copy-overlay">
      <div id="copy-overlay-close">close</div>
      <div id="copy-overlay-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at est in ligula dictum rutrum elementum a neque. Suspendisse eleifend dictum sem eu viverra. Aliquam viverra elit a turpis lacinia id pharetra dui facilisis. Nunc rhoncus felis sed lacus cursus vitae ultricies lectus molestie. Integer at elit non arcu sollicitudin vestibulum in sed turpis. Duis dapibus ultrices vulputate. Integer aliquet quam sed lectus dignissim fermentum non non est.
        <p>Donec nulla odio, molestie a viverra id, iaculis nec neque. Donec sapien lorem, interdum a tincidunt sit amet, condimentum non nisl. Praesent eros sapien, molestie at pretium vel, gravida vehicula ipsum. Morbi nulla arcu, vulputate facilisis iaculis et, iaculis ac tortor. Fusce gravida eleifend massa, non venenatis nulla pretium id. Nunc eget sagittis neque. Nulla vel est odio. Suspendisse urna dolor, pulvinar vitae mattis ac, interdum aliquet quam.  Cum sociis natoque penatibus. et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at est in ligula dictum rutrum elementum a neque. Suspendisse eleifend dictum sem eu viverra. Aliquam viverra elit a turpis lacinia id pharetra dui facilisis. Nunc rhoncus felis sed lacus cursus vitae ultricies lectus molestie. Integer at elit non arcu sollicitudin vestibulum in sed turpis. Duis dapibus ultrices vulputate. Integer aliquet quam sed lectus dignissim fermentum non non est.
        <p>Donec nulla odio, molestie a viverra id, iaculis nec neque. Donec sapien lorem, interdum a tincidunt sit amet, condimentum non nisl. Praesent eros sapien, molestie at pretium vel, gravida vehicula ipsum. Morbi nulla arcu, vulputate facilisis iaculis et, iaculis ac tortor. Fusce gravida eleifend massa, non venenatis nulla pretium id. Nunc eget sagittis neque. Nulla vel est odio. Suspendisse urna dolor, pulvinar vitae mattis ac, interdum aliquet quam.  Cum sociis natoque penatibus. et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>


  </div>
</body>
</html>
