<!DOCTYPE html>
<html>
<head>
  <title>iWitness</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0">
  <link type='text/css' rel='stylesheet' href="application.css">
  <script type='text/javascript' src="application.js"></script>
  <script type='text/javascript' src="http://maps.googleapis.com/maps/api/js?key=<%= config['gmaps']['api_key'] %>&sensor=false&libraries=geometry"></script>
  <script type="text/javascript">
    window.flickrApiKey = "<%= config['flickr']['api_key'] %>";

    <% if config['analytics']['enabled'] %>
      var _gaq = _gaq || [];

      _gaq.push(['_setAccount', '<%= config['analytics']['account_id'] %>']);

      <% if env == 'development' %>
        _gaq.push(['_setDomainName', 'none']);
        _gaq.push(['_setAllowLinker', true]);
      <% end %>

      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    <% end %>
  </script>
</head>
<body>
  <div id="radar-background"></div>
  <div id="container">
    <script type='text/x-handlebars'>
      {{view IWitness.SearchView}}
      {{view IWitness.StarredView}}
    </script>

    <div id="copy-overlay">
      <div id="copy-overlay-close">close</div>
      <div id="copy-overlay-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at est in ligula dictum rutrum elementum a neque. Suspendisse eleifend dictum sem eu viverra. Aliquam viverra elit a turpis lacinia id pharetra dui facilisis. Nunc rhoncus felis sed lacus cursus vitae ultricies lectus molestie. Integer at elit non arcu sollicitudin vestibulum in sed turpis. Duis dapibus ultrices vulputate. Integer aliquet quam sed lectus dignissim fermentum non non est. 
        <p>Donec nulla odio, molestie a viverra id, iaculis nec neque. Donec sapien lorem, interdum a tincidunt sit amet, condimentum non nisl. Praesent eros sapien, molestie at pretium vel, gravida vehicula ipsum. Morbi nulla arcu, vulputate facilisis iaculis et, iaculis ac tortor. Fusce gravida eleifend massa, non venenatis nulla pretium id. Nunc eget sagittis neque. Nulla vel est odio. Suspendisse urna dolor, pulvinar vitae mattis ac, interdum aliquet quam.  Cum sociis natoque penatibus. et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at est in ligula dictum rutrum elementum a neque. Suspendisse eleifend dictum sem eu viverra. Aliquam viverra elit a turpis lacinia id pharetra dui facilisis. Nunc rhoncus felis sed lacus cursus vitae ultricies lectus molestie. Integer at elit non arcu sollicitudin vestibulum in sed turpis. Duis dapibus ultrices vulputate. Integer aliquet quam sed lectus dignissim fermentum non non est. 
        <p>Donec nulla odio, molestie a viverra id, iaculis nec neque. Donec sapien lorem, interdum a tincidunt sit amet, condimentum non nisl. Praesent eros sapien, molestie at pretium vel, gravida vehicula ipsum. Morbi nulla arcu, vulputate facilisis iaculis et, iaculis ac tortor. Fusce gravida eleifend massa, non venenatis nulla pretium id. Nunc eget sagittis neque. Nulla vel est odio. Suspendisse urna dolor, pulvinar vitae mattis ac, interdum aliquet quam.  Cum sociis natoque penatibus. et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>

    <div id="welcome-overlay">
      <div id="welcome-overlay-close">close</div>
      <div id="welcome-overlay-header"></div>
      <div id="welcome-overlay-content">
        <div class="column">
          <h1>Live Stream</h1>
          <p>Just pick a location to discover what's happening there right now.</p>
        </div>
        <div class="column">
          <h1>Time Scan</h1>
          <p>Go back in time to explore social media content from any location.</p>
        </div>
        <div class="column">
          <h1>Favorites</h1>
          <p>Save your favorite items here or export them to use them elsewhere.</p>
        </div>

        <div class="sub_content">
          <a href="#" class="start">Let's see what's out there!</a>
          <p>Don't want your content showing up here? <a href="#">Here's how</a>.</p>
        </div>

        <p id="made_possible_by">
          Made possible through the Knight News Challenge, an initiative of the John S. and James L. Knight Foundation. <a href="#">Learn more about the project</a>.
        </p>
      <div id="welcome-overlay-footer">
        Designed by <a href="http://adaptivepath.com" target="_blank">Adaptive Path</a><br>
        Built by <a href="http://edgecase.com" target="_blank">EdgeCase</a>
        <a href="http://adaptivepath.com" target="_blank" class="adaptive">Adaptive Path</a>
        <a href="http://edgecase.com" target="_blank" class="edgecase">EdgeCase</a>
      </div>
    </div>

  </div>
</body>
</html>
