<!DOCTYPE html>
<html>
<head>
  <title>iWitness</title>
  <link type='text/css' rel='stylesheet' href="application.css">
  <script type='text/javascript' src="application.js"></script>
  <script type='text/javascript' src="http://maps.googleapis.com/maps/api/js?key=<%= maps['api_key'] %>&sensor=false&libraries=geometry"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];

    <% if env == 'production' %>
      _gaq.push(['_setAccount', 'UA-29639865-1']);
    <% else %>
      _gaq.push(['_setAccount', 'UA-29643339-1']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
    <% end %>

    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

  <div class="container">
    <div class="center">
      <script type='text/x-handlebars'>
        {{view IWitness.CriteriaView}}
        <div id="results">
          {{view IWitness.MessagesView}}
          {{view IWitness.resultSetView}}
          {{view IWitness.curatedSetView}}
        </div>
      </script>
    </div>
  </div>
</body>
</html>
