@import "/app/stylesheets/mixins.css.less";

#criteria, #starred-map-container {
  overflow : hidden;
  position : fixed;
  top      : 0;
  bottom   : 0;
  width    : 503px;
  margin-left : 15px;
}

#adaptive_path {
  display     : block;
  position    : absolute;
  top         : 17px;
  height      : 19px;
  width       : 173px;
  height      : 37px;
  text-indent :-999em;
  background  : url(/images/adaptive_path_logo.png);
}

#iwitness_title {
  position       : absolute;
  top            : 8px;
  right          : 27px;
  left           : 0;
  font-size      : 52px;
  letter-spacing : -0.05em;
  text-align     : right;
  .serif();

  i { color: #ec7000; }
}

#date_and_time_selectors {
  position   : absolute;
  top        : 70px;
  right      : 0;
  left       : 0;
  height     : 126px;
  background : url(/images/time.png) no-repeat 109px 13px;
  .iwitness-border-with-radius(12px);

  #stream_selector {
    position   : absolute;
    top        :-10px;
    left       :-3px;
    width      : 103px;
    height     : 146px;
    background : url(/images/live_stream_switch.png);

    &.streaming { background-position: 0 -146px; }
  }

  .input-small {
    position    : absolute;
    border      : 0;
    padding     : 0 4px;
    color       : #000;
    font        : 24px helvetica, arial, sans-serif;
    font-weight : bold;
    background  : transparent;
    .box-sizing(border-box);
    -webkit-text-stroke: 1px #fff;
    text-shadow: 3px 3px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }

  .start { top: 12px; }
  .end   { top: 50px; }

  .date {
    width : 150px;
    left  : 155px;
  }

  .time {
    width : 121px;
    left  : 326px;
  }

  .handle {
    position   : absolute;
    top        : 96px;
    left       : 361px;
    width      : 31px;
    height     : 24px;
    background : url(/images/handle_small.png);
    .transition(left, 0.1s, linear);

    &.local { left: 361px; }
    &.map  { left: 389px; }
  }

  .timezone {
    overflow : hidden;
    position : absolute;
    top      : 98px;
    width    : 37px;
    height   : 15px;

    &.local { left: 324px; }
    &.map  { left: 420px; }

    input { opacity: 0; }
  }
}


/* Map and location field
--------------------------------------------------------- */

#map-widget {
  position : absolute;
  top      : 215px;
  right    : 0;
  left     : 0;
  height   : 495px;
  .iwitness-border-with-radius(14px);
}

#map, #starred-map {
  width  : 497px;
  height : 472px;
  .rounded(14px);
}

#address-field {
  position       : absolute;
  top            : 725px;
  right          : 0;
  left           : 0;
  height         : 51px;
  border         : 0;
  color          : #fff;
  font-size      : 12px;
  text-align     : right;
  text-transform : uppercase;
  .rounded(4px);
  .serif-bold();

  input {
    width       : 220px;
    margin-left : 5px;
    .placeholder-color(#4c4c4c);
    .serif-bold();
  }
}

#map-zoom-control {
  position   : absolute;
  right      : 0;
  bottom     : 0;
  left       : 0;
  height     : 16px;
  border-top : 3px solid @iwitness-blue;
  .user-select(none);

  .slider {
    position   : absolute;
    top        : 1px;
    left       : 28px;
    width      : 444px;
    left       : 29px;
    height     : 14px;
    border     : 0;
    background : url(/images/zoom_level.png);
    .border-radius(0);
  }

  .progress {
    position   : absolute;
    top        : 1px;
    left       : 28px;
    width      : 442px;
    left       : 29px;
    height     : 14px;
    border     : 0;
    background : url(/images/zoom_level.png) 0 -14px;
    .border-radius(0);
  }

  // created by jquery-ui, and we can't add another class
  .ui-slider-handle {
    top        : -3px;
    width      : 35px;
    height     : 24px;
    border     : 0;
    background : url(/images/drag_handle.png);
    .box-shadow(none);

    &:focus { outline-style: none; }
  }

  .zoom {
    position : absolute;
    top      : 0;
    bottom   : 0;
    width    : 29px;
    background-position : 50% 50%;
    background-repeat   : no-repeat;

    &.in  { right : 0; background-image: url(/images/zoom_plus.png);  }
    &.out { left  : 0; background-image: url(/images/zoom_minus.png); }
  }

  .level {
    float  : left;
    width  : 18px;
    height : 12px;
    margin : 4px 2px 0 0;
    .box-shadow(0 -1px 0 #000);
    .gradient(#1c3953, #021b2e, #1c3953);

    &.first {
      width: 17px;
      margin-left: 29px;
      .border-radius(3px, 0, 0, 3px);
    }

    &.last  {
      margin-right: 0;
      .border-radius(0, 3px, 3px, 0);
    }
  }
}

#map-zoom-control.l_0 {
  .progress { width: 0px; }
  .handle { left: 21px; }
}

#map-zoom-control.l_1 {
  .progress { width: 22px; }
  .handle { left: 39px; }
}

#map-zoom-control.l_2 {
  .progress { width: 44px; }
  .handle { left: 59px; }
}

#map-zoom-control.l_3 {
  .progress { width: 66px; }
  .handle { left: 79px; }
}

#map-zoom-control.l_4 {
  .progress { width: 88px; }
  .handle { left: 99px; }
}

#map-zoom-control.l_5 {
  .progress { width: 110px; }
  .handle { left: 119px; }
}

#map-zoom-control.l_6 {
  .progress { width: 132px; }
  .handle { left: 139px; }
}

#map-zoom-control.l_7 {
  .progress { width: 154px; }
  .handle { left: 159px; }
}

#map-zoom-control.l_8 {
  .progress { width: 176px; }
  .handle { left: 179px; }
}

#map-zoom-control.l_9 {
  .progress { width: 198px; }
  .handle { left: 199px; }
}

#map-zoom-control.l_10 {
  .progress { width: 220px; }
  .handle { left: 219px; }
}

#map-zoom-control.l_11 {
  .progress { width: 242px; }
  .handle { left: 239px; }
}

#map-zoom-control.l_12 {
  .progress { width: 264px; }
  .handle { left: 259px; }
}

#map-zoom-control.l_13 {
  .progress { width: 286px; }
  .handle { left: 279px; }
}

#map-zoom-control.l_14 {
  .progress { width: 308px; }
  .handle { left: 299px; }
}

#map-zoom-control.l_15 {
  .progress { width: 330px; }
  .handle { left: 319px; }
}

#map-zoom-control.l_16 {
  .progress { width: 352px; }
  .handle { left: 339px; }
}

#map-zoom-control.l_17 {
  .progress { width: 374px; }
  .handle { left: 359px; }
}

#map-zoom-control.l_18 {
  .progress { width: 396px; }
  .handle { left: 379px; }
}

#map-zoom-control.l_19 {
  .progress { width: 418px; }
  .handle { left: 399px; }
}

#map-zoom-control.l_20 {
  .progress { width: 440px; }
  .handle   { left: 419px; }
}
