@import "/app/stylesheets/mixins.css.less";

#results {
  position    : relative;
  width       : 511px;
  margin-left : 510px;
}

#timeline {
  position   : absolute;
  top        : 0;
  bottom     : 0;
  left       : 20px;
  width      : 15px;
  background : #3e4449;
  display    : hidden;
}

#results-header {
  position       : fixed;
  top            : 0;
  width          : 511px;
  height         : 82px;
  margin-left    : 513px;
  pointer-events : none;
  z-index        : 1;
  .serif-bold();
}

#results-top-bar {
  pointer-events : auto;
  .box-shadow(0 25px 50px #000);

  .nav-button {
    float        : right;
    margin-right : 20px;
  }

  .status {
    position : absolute;
    top      : 0;
    bottom   : 0;
    left     : 0;
    padding  : 0 33px 0 15px;
    background-position : 100% 50%;
    background-repeat   : no-repeat;

    .radar {
      display    : none;
      position   : absolute;
      top        : 50%;
      right      : 0;
      width      : 25px;
      height     : 25px;
      margin-top :-12px;
      background : url(/images/radar_sweep_orange.png);
    }

    &.scanning .radar {
      display: block;
      .rotate();
    }

    &.finished {
      padding-right       : 25px;
      background-image    : url(/images/check_orange.png);
      background-position : 100% 8px;
    }

    &.somethings_wrong    {
      padding-right       : 25px;
      background-image    : url(/images/attention_orange.png);
      background-position : 100% 10px;
    }
  }
}

#services-menu {
  position : absolute;
  top      : 1px;
  left     : 6px;
  display  : none;
  width    : 195px;
  z-index  : 3;

  .services-header {
    position      : relative;
    float         : left;
    overflow      : hidden;
    height        : 30px;
    border        : 3px solid #fff;
    border-bottom-width: 1px;
    padding       : 0 33px 0 6px;
    line-height   : 30px;
    background    : #f1f1f1;
    background-repeat: no-repeat;
    z-index       : 1;
    .border-radius(8px, 8px, 0, 0);
  }

  .services-status-icon {
    position : absolute;
    top      : 1px;
    right    : 2px;
    width    : 25px;
    height   : 25px;
  }

  .service {
    position     : relative;
    top          : -3px;
    clear        : both;
    overflow     : hidden;
    height       : 40px;
    border       : 3px solid #fff;
    border-bottom-width: 1px;
    border-top-width: 0;
    padding-left : 35px;
    color        : #484848;
    font         : 12px helvetica, arial, sans-serif;
    background   : #f1f1f1;
    z-index      : 0;

    &.first {
      border-top-width : 3px;
      .border-radius(0, 8px, 0, 0);
    }

    &.last {
      border-bottom-width : 3px;
      .border-radius(0, 0, 8px, 8px);
    }

    .service-icon {
      position   : absolute;
      top        : 50%;
      left       : 6px;
      margin-top : -12px;
    }

    .service-title {
      padding-top : 6px;
      font-weight : bold;
    }

    .service-status.noresults {
      color       : #d00;
      font-weight : bold;
    }

    .service-switch {
      display        : none;
      position       : absolute;
      top            : 50%;
      right          : 6px;
      width          : 50px;
      height         : 23px;
      margin-top     :-12px;
      color          : #717171;
      font-size      : 11px;
      line-height    : 23px;
      text-transform : uppercase;
      background     : url(/images/service_switch_background.png);
      .box-sizing(border-box);

      .handle {
        position   : absolute;
        top        : 0;
        width      : 23px;
        height     : 24px;
        background : url(/images/service_switch_handle.png);
      }

      &.on {
        padding-left: 9px;

        .handle { right: -2px; }
      }

      &.off {
        text-align: right;
        padding-right: 6px;

        .handle { left: -2px; }
      }
    }
  }
}

.status:hover #services-menu {
  display: block;
}

.status.scanning #services-menu {
  .services-header { color: #003a6e; }

  .services-status-icon {
    background: url(/images/radar_sweep_blue.png) no-repeat 50% 50%;
  }
}

.status.finished #services-menu {
  .services-header { color: #199019; }

  .services-status-icon {
    background: url(/images/check_green.png) no-repeat 50% 50%;
  }
}

.status.error #services-menu {
  .services-header { color: #e10000; }

  .services-status-icon {
    background: url(/images/attention_red.png) no-repeat 50% 50%;
  }
}

#results-fold {
  position   : absolute;
  top        : 39px;
  left       : 0;
  width      : 14px;
  height     : 14px;
  background : url(/images/results-header-fold.png);
  z-index    : 1;
  pointer-events : auto;
}

#results-filter {
  position     : absolute;
  top          : 39px;
  right        : 0;
  height       : 42px;
  padding-left : 15px;
  color        : #762b00;
  font-size    : 15px;
  line-height  : 43px;
  background   : #ca7b04 url(/images/results-filter-background.png) repeat-x;
  z-index      : 1;
  pointer-events : auto;
  .border-radius(0, 0, 0, 8px);

  input {
    width        : 200px;
    border       : 1px solid #9c3b00;
    margin       : 0 13px 0 8px;
    padding-left : 15px;
    color        : #ffffff;
    font-size    : 13px;
    background   : #ab5000;
    .box-shadow(~"0 1px 0 rgba(255,255,255, 0.2), inset 0 3px 2px rgba(0,0,0,0.2)");
    .placeholder-color(#ffd098);
    .rounded(4px);
    .serif-bold();
  }
}

#starred_results {
  .item-wrapper {
    padding-bottom: 33px;
  }

  .item-footer { display: block; }
}


#result_set {
  position    : relative;
  margin-top  : 92px;
  padding     : 0 0 1px 46px;
  z-index     : 0;
}

.item-wrapper {
  position       : relative;
  margin-bottom  : 13px;
  &.hidden { display: none; }

  &.first {
    .timeline-arrow { display: block; }
  }

  &.last {
    .timeline-arrows { display: block; }
  }

  .popover { max-width: 460px; }
}

.item-footer {
  display     : none;
  position    : absolute;
  right       : 0;
  bottom      : 0;
  left        : 0;
  height      : 33px;
  padding-top : 10px;
  font-size   : 14px;
  text-shadow : 0 -1px 0 #000;
  background  : @iwitness-blue;
  z-index     : 0;
  .border-radius(0, 0, 10px, 10px);
  .serif-bold();
  .user-select(none);

  .flag {
    margin-left  : 20px;
    padding-left : 30px;
    line-height  : 31px;
    cursor       : pointer;
    background   : url(/images/flag_inactive.png) no-repeat 0 50%;
    .inline-block();

    &.active {
      background-image: url(/images/flag_active.png);
    }
  }

  .button {
    float        : right;
    margin-right : 11px;
    border       : 2px solid #061624;
    padding      : 5px 14px;
    cursor       : pointer;
    .rounded(6px);
  }
}

.item {
  position      : relative;
  border        : 3px solid @iwitness-blue;
  padding       : 11px;
  font-size     : 13px;
  background    : #02101a;
  z-index       : 1;
  .iwitness-border-with-radius(10px);

  &.hidden { display: none; }

  &:after {
    visibility : hidden;
    display    : block;
    font-size  : 0;
    content    : " ";
    clear      : both;
    height     : 0;
  }

  &.first {
    .timeline-arrow { display: block; }
  }

  &.last {
    .timeline-arrows { display: block; }
  }

  .timeline-arrow {
    display    : none;
    position   : absolute;
    top        :-3px;
    left       :-37px;
    width      : 31px;
    height     : 96px;
    background : url(/images/timeline_arrow.png);

    span {
      position    : relative;
      top         : 55px;
      display     : block;
      font-size   : 14px;
      font-weight : bold;
      white-space : nowrap;
      .rotation(-90deg);
    }
  }

  .timeline-arrows {
    display    : none;
    position   : absolute;
    bottom     :-19px;
    left       :-29px;
    width      : 15px;
    height     : 57px;
    background : url(/images/timeline_arrows.png);
  }

  a {
    color: #ff7c00;
    text-decoration: none;
  }

  .heading {
    overflow: hidden;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .show-embed-button { display: none; }

  .pic {
    overflow : hidden;
    float    : left;
    width    : 40px;
    height   : 40px;
    margin   : 0 7px 3px 0;
    border   : 3px solid @iwitness-blue;
    .inline-block();
    .iwitness-border-with-radius(7px);

    img {
      width  : 40px;
      height : 40px;
      .rounded(5px);
    }
  }

  .icon-star {
    position   : absolute;
    top        :-3px;
    right      :-3px;
    width      : 53px;
    height     : 56px;
    background : url(/images/icon-star.png) no-repeat;
  }

  .icon-star-empty {
    position   : absolute;
    top        :-3px;
    right      :-3px;
    width      : 53px;
    height     : 56px;
    background : url(/images/icon-star-empty.png) no-repeat;
  }

  .user-name-primary {
    font-weight: bold;
  }

  .user-name-secondary {
    font-weight: bold;
    color      : #fff;
  }

  .small-links {
    clear        : both;
    float        : left;
    position     : relative;
    padding-left : 30px;
  }

  .timestamp {
    display     : block;
    color       : #ff7c00;
    font-size   : 11px;
    font-weight : bold;
  }

  .permalink {
    position    : absolute;
    top         : 0;
    left        : 0;
    width       : 24px;
    height      : 24px;
    text-indent :-999em;
  }

  .result_content {
    margin-bottom : 45px;
    line-height   : 140%;
  }

  .pin {
    display    : none;
    position   : absolute;
    right      : 12px;
    bottom     : 4px;
    width      : 17px;
    height     : 26px;
    cursor     : pointer;
    background : url(/images/pin_small.png);
  }

  .content-link {
    float  : right;
    width  : 190px;
    margin : 0 0 7px 10px;
    border : 3px solid @iwitness-blue;
    .inline-block();
    .iwitness-border-with-radius(7px);

    img {
      display : block;
      width   : 190px;
      .rounded(5px);
    }
  }
}

.selected .item {
  border-color : #ba4800;
  background   : #102538;

  .pic, .content-link { border-color: #ba4800; }
  .pin { display : block; }
}

.twitter .permalink { background: url(/images/twitter_badge.png); }
.flickr  .permalink { background: url(/images/flickr_badge.png); }
