#results {
  margin-left: 300px;
  tr {
    &.selected td { background-color: #ffc; }

    td {
      position: relative;

      &.pic { width: 48px; }
      &.message { text-align: center; }
      em { position: absolute; right: 20px; opacity: 0.5; }
      i { position: absolute; right: 4px; }
      p { margin-bottom: 0; }

      .small-links {
        position: absolute;
        right: 10px;
        bottom: 5px;
        opacity: .5;

        a { margin-left: 10px; }
      }

      .result_content {
        img { float: left; padding-right: 10px; }
      }
    }
  }
  tr.load-more {
    td {
      text-align: center;
    }
  }
}

tr.hidden {
  display: none;
}

tr .embed {
  display: none;
  clear: left;
}
