@import "/app/stylesheets/mixins.css.less";

#results {
  position : absolute;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 513px;
  /*width    : 511px;*/

  tr.load-more td { text-align: center; }
}

#timeline {
  position   : absolute;
  top        : 95px;
  bottom     : 0;
  left       : 17px;
  width      : 15px;
  background : #3e4449;
  display    : hidden;
}

#results-header {
  position       : fixed;
  top            : 0;
  width          : 511px;
  height         : 82px;
  margin-left    : 513px;
  pointer-events : none;
  z-index        : 1;
  .serif-bold();
}

#results-top-bar {
  position       : relative;
  height         : 39px;
  color          : #ffd098;
  font-size      : 15px;
  line-height    : 39px;
  pointer-events : auto;
  .gradient(#ba4900, #b94000, #bd5700);
  .box-shadow(0 25px 50px #000);
  .user-select(none);

  .nav-button {
    float  : right;
    margin : 5px 20px 0 0;
  }

  .status {
    position : absolute;
    top      : 0;
    bottom   : 0;
    left     : 0;
    padding  : 0 33px 0 15px;
    background-position : 100% 50%;
    background-repeat   : no-repeat;

    &.scanning { background-image: url(/images/radar_sweep_orange.png); }

    &.finished {
      padding-right       : 25px;
      background-image    : url(/images/check_orange.png);
      background-position : 100% 8px;
    }

    &.somethings_wrong    {
      padding-right       : 25px;
      background-image    : url(/images/attention_orange.png);
      background-position : 100% 10px;
    }
  }
}

#services-menu {
  position : absolute;
  top      : 1px;
  left     : 6px;
  display  : none;
  width    : 180px;
  z-index  : 3;

  .services-header {
    position      : relative;
    float         : left;
    overflow      : hidden;
    height        : 30px;
    border        : 3px solid #fff;
    border-bottom-width: 1px;
    padding       : 0 33px 0 6px;
    line-height   : 30px;
    background    : #f1f1f1;
    background-repeat: no-repeat;
    z-index       : 1;
    .border-radius(8px, 8px, 0, 0);
  }

  .services-status-icon {
    position : absolute;
    top      : 1px;
    right    : 2px;
    width    : 25px;
    height   : 25px;
  }

  .service {
    position     : relative;
    top          : -3px;
    clear        : both;
    overflow     : hidden;
    height       : 40px;
    border       : 3px solid #fff;
    border-bottom-width: 1px;
    border-top-width: 0;
    padding-left : 35px;
    color        : #484848;
    font         : 12px helvetica, arial, sans-serif;
    background   : #f1f1f1;
    z-index      : 0;

    &.first {
      border-top-width : 3px;
      .border-radius(0, 8px, 0, 0);
    }

    &.last {
      border-bottom-width : 3px;
      .border-radius(0, 0, 8px, 8px);
    }

    .service-icon {
      position   : absolute;
      top        : 50%;
      left       : 6px;
      margin-top : -12px;
    }

    .service-title {
      padding-top : 6px;
      font-weight : bold;
    }

    .service-switch {
      position       : absolute;
      top            : 50%;
      right          : 6px;
      width          : 50px;
      height         : 23px;
      margin-top     :-12px;
      color          : #717171;
      font-size      : 11px;
      line-height    : 23px;
      text-transform : uppercase;
      background     : url(/images/service_switch_background.png);
      .box-sizing(border-box);

      .handle {
        position   : absolute;
        top        : 0;
        width      : 23px;
        height     : 24px;
        background : url(/images/service_switch_handle.png);
      }

      &.on {
        padding-left: 9px;

        .handle { right: -2px; }
      }

      &.off {
        text-align: right;
        padding-right: 6px;

        .handle { left: -2px; }
      }
    }
  }
}

#results-top-bar:hover #services-menu {
  display: block;
}

.status.scanning #services-menu {
  .services-header { color: #003a6e; }

  .services-status-icon {
    background: url(/images/radar_sweep_blue.png) no-repeat 50% 50%;
  }
}

.status.finished #services-menu {
  .services-header { color: #199019; }

  .services-status-icon {
    background: url(/images/check_green.png) no-repeat 50% 50%;
  }
}

.status.error #services-menu {
  .services-header { color: #e10000; }

  .services-status-icon {
    background: url(/images/attention_red.png) no-repeat 50% 50%;
  }
}

#results-fold {
  position   : absolute;
  top        : 39px;
  left       : 0;
  width      : 14px;
  height     : 14px;
  background : url(/images/results-header-fold.png);
  z-index    : 1;
  pointer-events : auto;
}

#results-filter {
  position     : absolute;
  top          : 39px;
  right        : 0;
  height       : 42px;
  padding-left : 15px;
  color        : #762b00;
  font-size    : 15px;
  line-height  : 43px;
  background   : #ca7b04 url(/images/results-filter-background.png) repeat-x;
  z-index      : 1;
  pointer-events : auto;
  .border-radius(0, 0, 0, 8px);

  input {
    width        : 200px;
    border       : 1px solid #9c3b00;
    margin       : 0 13px 0 8px;
    padding-left : 15px;
    color        : #ffd098;
    font-size    : 13px;
    background   : #ab5000;
    .box-shadow(~"0 1px 0 rgba(255,255,255, 0.2), inset 0 3px 2px rgba(0,0,0,0.2)");
    .placeholder-color(#ffd098);
    .rounded(4px);
    .serif-bold();
  }
}


#result_set {
  position    : absolute;
  top         : 0;
  right       : 13px;
  bottom      : 0;
  left        : 46px;
  padding-top : 92px;

  .item {
    position      : relative;
    margin-bottom : 13px;
    border        : 3px solid @iwitness-blue;
    padding       : 11px;
    font-size     : 13px;
    background    : #02101a;
    .iwitness-border-with-radius(10px);

    &.hidden { display: none; }

    &:after {
      visibility : hidden;
      display    : block;
      font-size  : 0;
      content    : " ";
      clear      : both;
      height     : 0;
    }

    &.first {
      .timeline-arrow { display: block; }
    }

    &.last {
      .timeline-arrows { display: block; }
    }

    .timeline-arrow {
      display    : none;
      position   : absolute;
      top        : 0;
      left       :-40px;
      width      : 31px;
      height     : 96px;
      background : url(/images/timeline_arrow.png);

      span {
        position    : relative;
        top         : 50px;
        display     : block;
        font-size   : 14px;
        font-weight : bold;
        white-space : nowrap;
        .rotation(-90deg);
      }
    }

    .timeline-arrows {
      display    : none;
      position   : absolute;
      bottom     :-19px;
      left       :-32px;
      width      : 15px;
      height     : 57px;
      background : url(/images/timeline_arrows.png);
    }

    a {
      color: #ff7c00;
      text-decoration: none;
    }

    .heading {
      overflow: hidden;
      margin-bottom: 8px;
      font-weight: bold;
    }

    .show-embed-button { display: none; }

    .pic {
      overflow : hidden;
      float    : left;
      width    : 40px;
      height   : 40px;
      margin   : 0 7px 3px 0;
      border   : 3px solid @iwitness-blue;
      .inline-block();
      .iwitness-border-with-radius(7px);

      img {
        width  : 40px;
        height : 40px;
        .rounded(5px);
      }
    }

    .embed.well { display: none; }

    .icon-star {
      position   : absolute;
      top        :-3px;
      right      :-3px;
      width      : 53px;
      height     : 56px;
      background : url(/images/icon-star.png) no-repeat;
    }

    .icon-star-empty {
      position   : absolute;
      top        :-3px;
      right      :-3px;
      width      : 53px;
      height     : 56px;
      background : url(/images/icon-star-empty.png) no-repeat;
    }

    .user-name-primary {
      font-weight: bold;
    }

    .user-name-secondary {
      font-weight: bold;
      color      : #fff;
    }

    .small-links {
      position     : absolute;
      bottom       : 13px;
      left         : 14px;
      padding-left : 30px;
    }

    .timestamp {
      display     : block;
      color       : #ff7c00;
      font-size   : 11px;
      font-weight : bold;
    }

    .permalink {
      position    : absolute;
      top         : 0;
      left        : 0;
      width       : 24px;
      height      : 24px;
      text-indent :-999em;
    }

    &.twitter .permalink { background: url(/images/twitter_badge.png); }
    &.flickr  .permalink { background: url(/images/flickr_badge.png); }

    .result_content {
      margin-bottom : 45px;
      line-height   : 140%;
    }

    .content-link {
      float  : right;
      width  : 190px;
      margin : 0 0 0 10px;
      border : 3px solid @iwitness-blue;
      .inline-block();
      .iwitness-border-with-radius(7px);

      img {
        display : block;
        width   : 190px;
        .rounded(5px);
      }
    }
  }

  .item.selected {
    border-color : #ba4800;
    background   : #102538;

    .pic, .content-link { border-color: #ba4800; }
  }
}
