div.alert { position: relative; }

#starred_results {
  position : absolute;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 513px;
  /*width    : 511px;*/
}

#starred-map-container {

  #starred-items-count {
    margin-top: 40px;
  }

  #flagged-items-count {
    margin-top: 10px;
  }

  #export-popover {
    display: none;
  }

  #rendered-text-results {
    p {
      margin-bottom: 10px;
    }
  }
}
