@import "/app/stylesheets/mixins.css.less";

html,body { background: #00070b url(/images/blue_gradient.png) fixed no-repeat; }


.container {
  position    : absolute;
  top         : 0;
  right       : 0;
  bottom      : 0;
  left        : 0;
  width       : 1024px;
  margin      : 0 auto;
  color       : #fff;
  font-family : helvetica, arial, sans-serif;
}

.toolbar {
  position       : relative;
  height         : 39px;
  color          : #ffd098;
  font-size      : 15px;
  line-height    : 39px;
  .gradient(#ba4900, #b94000, #bd5700);
  .serif-bold();
  .user-select(none);

  &.dark {
    .gradient(#ae4300, #ad3c00, #b05100);
  }

  .nav-button {
    margin-top: 5px;
  }
}


.nav-button {
  position    : relative;
  height      : 29px;
  padding     : 0 11px 0 17px;
  color       : #222;
  font-size   : 15px;
  line-height : 29px;
  text-shadow : 0 1px 0 #fff;
  background  : url(/images/nav_button_background.png);
  .inline-block();
  .serif-bold();
  .user-select(none);

  &:after {
    content    : ' ';
    display    : block;
    position   : absolute;
    top        : 0;
    right      :-14px;
    bottom     : 0;
    width      : 14px;
    background : url(/images/nav_button_arrow.png);
  }

  &.with-icon { padding-right: 35px; }

  &.with-icon:before {
    content  : ' ';
    display  : block;
    position : absolute;
    top      : 50%;
    right    : 3px;
    background-repeat: no-repeat;
  }

  &.with-icon.star-icon:before {
    width      : 19px;
    height     : 17px;
    margin-top :-9px;
    background-image: url(/images/button_star.png);
  }
}

.nav-button.arrow-left {
  padding    : 0 17px 0 11px;
  background : url(/images/nav_button_background_left.png) 100% 0;

  .with-icon { padding-left: 35px; }

  &:after {
    content    : ' ';
    display    : block;
    right      : auto;
    left       :-14px;
    background : url(/images/nav_button_arrow_left.png);
  }

  &.with-icon { padding-left: 35px; }
  &.with-icon:before { left: 3px; }
  &.with-icon.star-icon:before { background-image: url(/images/button_star.png); }
}