@import "/app/stylesheets/mixins.css.less";

html,body { background: #000 url(images/gradient_background.png) repeat-y 50% 0; }

@-webkit-keyframes radar {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

.disabled {
  opacity : 0.5;
  cursor  : default;
}

#radar-background {
  position    : fixed;
  top         : 0;
  right       : 0;
  bottom      : 0;
  left        : 0;
  background  : url(images/iWitness_Bckground.jpg) fixed no-repeat 50% 0;
  z-index     : 0;
}


#container {
  position    : absolute;
  top         : 0;
  right       : 0;
  bottom      : 0;
  left        : 0;
  width       : 1024px;
  margin      : 0 auto;
  color       : #fff;
  font-family : helvetica, arial, sans-serif;
  z-index     : 1;
  -webkit-tap-highlight-color: transparent;
}

.toolbar {
  position       : relative;
  height         : 39px;
  color          : #ffd098;
  font-size      : 15px;
  line-height    : 39px;
  .gradient(#ba4900, #b94000, #bd5700);
  .serif-bold();
  .user-select(none);

  &.dark { .gradient(#ae4300, #ad3c00, #b05100); }

  .nav-button { margin-top: 5px; }
}


.nav-button {
  position    : relative;
  height      : 29px;
  padding     : 0 11px 0 17px;
  color       : #222;
  font-size   : 15px;
  line-height : 29px;
  text-shadow : 0 1px 0 #fff;
  background  : url(images/nav_button_background.png);
  .inline-block();
  .serif-bold();
  .user-select(none);

  &:after {
    content    : ' ';
    display    : block;
    position   : absolute;
    top        : 0;
    right      :-14px;
    bottom     : 0;
    width      : 14px;
    background : url(images/nav_button_arrow.png);
  }

  &.with-icon { padding-right: 35px; }

  &.with-icon:before {
    content  : ' ';
    display  : block;
    position : absolute;
    top      : 50%;
    right    : 3px;
    background-repeat: no-repeat;
  }

  &.with-icon.star-icon:before {
    width      : 19px;
    height     : 17px;
    margin-top :-7px;
    background-image: url(images/button_heart.png);
  }
}

.nav-button.arrow-left {
  padding    : 0 17px 0 11px;
  background : url(images/nav_button_background_left.png) 100% 0;

  .with-icon { padding-left: 35px; }

  &:after {
    content    : ' ';
    display    : block;
    right      : auto;
    left       :-14px;
    background : url(images/nav_button_arrow_left.png);
  }

  &.with-icon { padding-left: 35px; }
  &.with-icon:before { left: 3px; }
  &.with-icon.star-icon:before { background-image: url(images/button_heart.png); }
}

.popover {
  display    : none;
  position   : absolute;
  margin-top : -3px;
  z-index    : 2;
  .user-select(none);

  .heading {
    position      : absolute;
    top           : 0;
    right         : 0;
    height        : 31px;
    border        : 3px solid #fff;
    border-bottom : 0;
    padding       : 0 24px;
    color         : @iwitness-blue;
    font-size     : 14px;
    line-height   : 31px;
    background    : #f1f1f1;
    white-space   : nowrap;
    .border-radius(8px, 8px, 0, 0);
    .serif-bold();
  }

  &.left-heading {
    .heading {
      right : auto;
      left  : 0;
    }

    .content { .border-radius(0, 8px, 8px, 8px); }
  }

  .content {
    overflow    : auto;
    max-height  : 300px;
    min-width  : 200px;
    min-height : 50px;
    margin-top  : 31px;
    border      : 3px solid #fff;
    padding     : 10px;
    color       : @iwitness-blue;
    font-size   : 13px;
    line-height : 140%;
    background  : #f1f1f1;
    .border-radius(8px, 0, 8px, 8px);
    .user-select(text);
  }
}

.ui-datepicker td .ui-state-default { padding: 0; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 0;
  .box-shadow(none);
}

.ui-datepicker, .ec-time-picker {
  width       : auto;
  border      : 3px solid #ec7000;
  font-family : 'ArvoBold', georgia, serif;
  background  : #1a1b1d;
  .rounded(14px);

  .ui-datepicker-header {
    padding    : 2px 0;
    background : transparent;
  }

  .ui-datepicker-title {
    color     : #fff;
    font-size : 24px;
  }

  .ui-datepicker-prev {
    top          : 8px;
    left         : 4px;
    width        : 23px;
    height       : 28px;
    padding-left : 10px;
    background   : url(images/calendar_arrow_left.png) no-repeat 50% 50%;
    .rounded(0);

    span { display: none; }
  }

  .ui-datepicker-next {
    top          : 8px;
    right        : 4px;
    width        : 23px;
    height       : 28px;
    padding-left : 10px;
    background   : url(images/calendar_arrow_right.png) no-repeat 50% 50%;
    .rounded(0);

    span { display: none; }
  }

  .ui-datepicker-calendar {
    th {
      border         : 6px solid #1a1b1c;
      padding        : 2px 0;
      color          : #fff;
      font           : 10px helvetica, arial, sans-serif;
      font-weight    : bold;
      text-transform : uppercase;
      background     : #5d5d5d;
    }

    td {
      border     : 6px solid transparent;
      background : transparent;

      a {
        display     : block;
        width       : 41px;
        height      : 41px;
        color       : #fff;
        font-size   : 14px;
        font-weight : bold;
        line-height : 41px;
        text-align  : center;
        background  : url(images/calendar_circle.png);
      }

      .ui-state-active {
        color      : #000;
        background : url(images/calendar_circle_active.png);
      }
    }

    td:hover a {
      color: #fff;
      background: url(images/calendar_circle.png);
    }

    td:hover a.ui-state-active {
      color      : #000;
      background : url(images/calendar_circle_active.png);
    }
  }
}


.ui-datepicker:before,
.ec-time-picker:before {
  content     : ' ';
  display     : block;
  position    : absolute;
  top         :-12px;
  left        : 50%;
  width       : 25px;
  height      : 15px;
  margin-left :-12.5px;
  background  : url(images/ui-widget-arrow.png);
}

.ec-time-picker:before { top: -15px; }


.ui-widget.ec-time-picker {
  display     : none;
  position    : absolute;
  top         : 30px;
  z-index     : 10;
  width       : 186px;
  height      : 288px;
  margin-left : -8px;

  &.start {
    left : 315px;
    top  : 52px;
  }

  &.end {
    left : 315px;
    top  : 87px;
  }

  .column {
    overflow    : hidden;
    position    : absolute;
    top         : 10px;
    bottom      : 0;
    width       : 60px;
    padding-top : 10px;
  }

  .column.hour, .column.minute {
    background: #2e2f31;
  }

  .column-1 { left: 10px;  }
  .column-2 { left: 71px;  }
  .column-3 { left: 130px; top: 76px; }

  .column .heading {
    position       : absolute;
    top            : 0;
    right          : 0;
    left           : 0;
    height         : 16px;
    color          : #fff;
    font           : 10px helvetica, arial, sans-serif;
    font-weight    : bold;
    line-height    : 16px;
    text-align     : center;
    text-transform : uppercase;
    background     : #5d5d5d;
  }

  .column .content {
    overflow    : auto;
    position    : absolute;
    top         : 16px;
    right       : 0;
    bottom      : 0;
    left        : 0;
    padding-top : 10px;
  }

  a {
    display         : block;
    width           : 41px;
    height          : 41px;
    margin          : 0 9px 10px 9px;
    color           : #fff;
    font-size       : 14px;
    font-weight     : bold;
    line-height     : 41px;
    text-align      : center;
    text-decoration : none;
    background      : url(images/calendar_circle.png);

    &.active {
      color      : #000;
      background : url(images/calendar_circle_active.png);
    }
  }
}

#map-error {
  left  : 615px;
  top   : 216px;
  width : 290px;
}

#time-error {
  left  : 630px;
  top   : 140px;
  width : 260px;
}

.error-bubble {
  display     : none;
  position    : absolute;
  border      : 3px solid #fff;
  padding     : 12px;
  color       : #fff;
  font-size   : 14px;
  line-height : 120%;
  text-align  : center;
  z-index     : 10;
  .box-shadow(0 7px 0 rgba(0,0,0, 0.4));
  .gradient(#cc0001, #a50000, #f00000);
  .rounded(12px);
  .serif-bold();

  &.is-error { display : block; }
}


.inline_info {
  position    : relative;
  border      : 1px solid #00263f;
  width       : 420px;
  padding     : 24px 24px 24px 64px;
  color       : #fff;
  font-size   : 16px;
  font-family : 'ArvoRegular', georgia, serif;
  line-height : 137%;
  z-index     : 100;
  .box-shadow(~"0 5px 5px rgba(0,0,0, 0.5), inset 0 1px 1px rgba(255,255,255, 0.3)");
  .gradient(#2a6c98, #2a6c98, #124162);
  .rounded(10px);

  .icon {
    position   : absolute;
    top        : 20px;
    left       : 21px;
    width      : 29px;
    height     : 29px;
    background : url(images/info_icon.png);
  }
}


.service-switch {
  display        : block;
  position       : absolute;
  top            : 50%;
  right          : 6px;
  width          : 54px;
  height         : 20px;
  margin-top     :-10px;
  color          : #717171;
  font           : 11px helvetica, arial, sans-serif;
  font-weight    : bold;
  line-height    : 22px;
  text-transform : uppercase;
  .rounded(10px);
  .box-shadow(inset 0 2px 2px rgba(0,0,0, 0.5));
  .box-sizing(border-box);
  .user-select(none);

  .handle {
    position   : absolute;
    top        : 0;
    width      : 23px;
    height     : 24px;
    background : url(images/service_switch_handle.png);
  }

  &.on {
    padding-left  : 11px;
    color         : #fff;
    text-shadow   : 0 -1px 0 rgba(0,0,0, 0.3);
    .gradient(#ff8200, #ff8200, #c54700);

    .handle { right: -2px; }
    .on     { display: inline; }
    .off    { display: none; }
  }

  &.off {
    padding-right : 6px;
    text-align    : right;
    .gradient(#f4f4f4, #f4f4f4, #c8c8c8);

    .handle { left: -2px; }
    .on     { display: none; }
    .off    { display: inline; }
  }
}


#copy-overlay {
  display    : none;
  position   : fixed;
  top        : 45%;
  left       : 50%;
  width      : 520px;
  height     : 330px;
  margin     : -165px 0 0 -260px;
  border     : 3px solid #fff;
  background : #f1f1f1;
  z-index    : 100;
  .box-shadow(0 5px 5px rgba(0,0,0, 0.3));
  .rounded(12px);
}

#copy-overlay-content {
  overflow    : auto;
  position    : absolute;
  top         : 0;
  right       : 0;
  bottom      : 0;
  left        : 0;
  padding     : 25px;
  color       : #000;
  font-size   : 13px;
  line-height : 125%;
}

#copy-overlay-close {
  position    : absolute;
  top         : -17px;
  right       : -17px;
  width       : 36px;
  height      : 35px;
  text-indent : -999em;
  cursor      : pointer;
  background  : url(images/overlay_close.png);
}
