<script type="text/x-handlebars">
  <div class="row">
    <div class="span4">
      {{view IWitness.SearchCriteriaView}}
    </div>
    <div class="span8">
      {{view IWitness.MessagesView}}
      {{view IWitness.resultSetView}}
    </div>
  </div>
</script>
