<script type="text/x-handlebars">
  <div class="row">
    <div class="span4">
      {{view IWitness.CriteriaView modelBinding="IWitness.searchCriteria"}}
    </div>
    <div class="span8">
      {{view IWitness.ResultsetView}}
    </div>
  </div>
</script>
