{{#if showErrors}}
  {{#each model.errors}}
    <div class="error alert alert-error">{{this}}</div>
  {{/each}}
{{/if}}

<div class="alert alert-info">
  Twitter status: {{twitterStatus}}
  &nbsp; &nbsp; &nbsp;
  Flickr status:  {{flickrStatus}}
</div>

