{{#if showErrors}}
  {{#each model.errors}}
    <div class="error alert alert-error">{{this}}</div>
  {{/each}}
{{/if}}

{{#if IWitness.searchController.searching}}
  <div class="alert alert-info">
    {{IWitness.searchController.searchMessage}}
  </div>
{{else}}
  {{#unless IWitness.resultSetController.content.length}}
    <div class="alert alert-info">No Results</div>
  {{/unless}}
{{/if}}
