<div id="resultset">
  {{#each IWitness.ResultsetController.content}}
    <div class="result">
      <strong>@{{this.from_user}}</strong> at <em>{{this.created_at}}</em> from {{this.geo.coordinates}}
      <p>{{this.text}}</p>
    </div>
  {{/each}}
</div>
