{{#if IWitness.resultSetController.content.length}}
  <table class="table table-bordered table-striped" id="result_set">
    {{#each IWitness.resultSetController.sortedContent}}
      {{view IWitness.ResultView modelBinding="this"}}
    {{/each}}
  </table>
{{/if}}
