{{#if IWitness.resultSetController.content.length}}
  <table class="table table-bordered table-striped" id="result_set">
    {{#each IWitness.resultSetController.content}}
      {{#if isTwitter}}
        {{view IWitness.TwitterResultView modelBinding="this"}}
      {{/if}}
      {{#if isFlickr}}
        {{view IWitness.FlickrResultView modelBinding="this"}}
      {{/if}}
    {{/each}}
  </table>
{{/if}}
