<table class="table table-bordered table-striped" id="resultset">
  {{#each IWitness.ResultsetController.content}}
    <tr>
      <td>
        <strong>@{{this.from_user}}</strong>
        <em>{{this.timestamp}}</em>
        <p>{{this.text}}</p>
      </td>
    </tr>
  {{/each}}
</table>
