<table class="table table-bordered table-striped" id="resultset">
  {{#each IWitness.ResultsetController.content}}
    <tr>
      <td>
        <strong>@{{this.from_user}}</strong> at <em>{{this.created_at}}</em> from {{this.geo.coordinates}}
        <p>{{this.text}}</p>
      </td>
    </tr>
  {{/each}}
</table>
