/*
 *= require twitter/bootstrap
 *= require css/custom-theme/jquery-ui-1.8.16.custom
 *= require timePicker
 *= require_self
 *= require_tree .
*/

.container { margin-top: 30px; }

#map { width: 250px; height: 200px; margin: 20px 0; }

#resultset td { position: relative; }
#resultset td em { position: absolute; right: 8px; opacity: 0.5; }
