<button id='show_search_button'  class="btn active" href="#" {{action searchResults}}>
  Search Results
</button>

<button id='show_curated_button' class="btn" href="#" {{action curated}} {{bindAttr disabled="IWitness.curatedSetController.isEmpty"}}>
  Curated Results
</button>
