{{#if IWitness.curatedSetController.content.length}}
  <div id="curated_set">
    {{#each IWitness.curatedSetController.content}}
      {{view IWitness.ResultView modelBinding="this"}}
    {{/each}}
  </div>
{{/if}}
