<div class="icon"></div>

{{#each message}}
  <p>{{this}}</p>
{{/each}}

<p>
  iWitness only shows content that has location data associated with it.
  People in this place may have been posting content but not including their location.
  Unfortunately, there's no way for us to find that content.
</p>
