{{#each model.errors}}
  <div class="error alert alert-error">{{this}}</div>
{{/each}}

<div class="alert alert-info">
  Twitter status: {{twitterStatus}}
  &nbsp; &nbsp; &nbsp;
  Flickr status:  {{flickrStatus}}
  {{view IWitness.CuratedResultsToggleView id="curated_results_toggle"}}
</div>

