{{#if IWitness.resultSetController.content.length}}
  <table class="table table-bordered table-striped" id="result_set">
    <tbody>
      {{#each IWitness.resultSetController.content}}
      {{view IWitness.ResultView modelBinding="this"}}
      {{/each}}
    </tbody>
  </table>
{{/if}}
