<div id="results-fold"></div>
<div id="results-top-bar">
  <div class="status scanning">Scanning</div>
  <div class="nav-button">
    Show starred items
    <div class="icon star"></div>
    <div class="arrow"></div>
  </div>
</div>
