<div id="map-widget">
  <div id="saved-map"></div>
  <div class="map-zoom-control" {{bindAttr class="zoomClass"}}>
    <div class="handle"></div>
    <a class="zoom out" {{action "zoomOut"}}></a>
    <a class="zoom in"  {{action "zoomIn"}}></a>
    <div class="slider">
      <div class="slider-widget"></div>
    </div>
    <div class="progress"></div>
  </div>
</div>

<div id="saved_branding">
  <a href="http://adaptivepath.com" target="_blank">Adaptive Path</a>
</div>
