{{view IWitness.CriteriaView}}
<div id="results-header">
  {{view IWitness.ResultsStatusView}}
  {{view IWitness.KeywordFilterView}}
</div>
<div id="results">
  <div id="timeline"></div>
  {{view IWitness.ResultSetView}}
</div>

<div class="ui-widget ec-time-picker">
  <div class="column column-1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">7</a>
  </div>
  <div class="column column-2">
    <a href="#">01</a>
    <a href="#">02</a>
    <a href="#">03</a>
    <a href="#">04</a>
    <a href="#">05</a>
    <a href="#">06</a>
    <a href="#">07</a>   
  </div>
  <div class="column column-3">
    <a href="#">AM</a>
    <a href="#">PM</a>
  </div>
</div>