<img class="service-icon" {{bindAttr src="badgeSrc"}}>
<div class="service-title">{{serviceType}}</div>
<div {{bindAttr class="serviceStatus"}}>{{status}}</div>

<div class="service-switch on">
  <div class="handle"></div>
  <div class="text">on</div>
</div>
