<div id="services-menu">
  <div class="services-header">
    {{status}} <div class="services-status-icon"></div>
  </div>

  <div class="services-menu-content">
    {{collection contentBinding="IWitness.config.services" itemViewClass="IWitness.ServiceStatusView"}}
  </div>
</div>
