{{#if IWitness.starredSetController.content.length}}
  <div id="starred-set">
    {{#each IWitness.starredSetController.content}}
      {{view IWitness.StarredResultView modelBinding="this"}}
    {{/each}}
  </div>
{{/if}}
