<div id="starred-items-left-toolbar" class="toolbar">
  <div id="switch-to-results" class="nav-button arrow-left" {{action switchToResults}}>
    Back to iWitness
  </div>
</div>

<div id="starred-items-right-toolbar" class="toolbar dark">
  <div id="flag-all" {{action "flagAll"}}>{{flagState}}</div>
  <div id="unstar-all" {{action "clearStarred"}}>Unstar all</div>
</div>
