<h1>{{numberOfItems}}</h2>

<div id="export-section">
  <h2>{{numberFlaggedForExport}}</h2>
  <div class="button">Copy as text</div>
  <div class="button">Email</div>
</div>

<div id="map-widget">
  <div id="starred-map"></div>
</div>