<div id="welcome-overlay-close" {{action "close"}}>close</div>
<div id="welcome-overlay-header"></div>
<div id="welcome-overlay-content">
  <div class="column">
    <h1>Live Stream</h1>
    <p>Just pick a location to discover what's happening there right now.</p>
  </div>

  <div class="column">
    <h1>Time Scan</h1>
    <p>Go back in time to explore social media content from any location.</p>
  </div>

  <div class="column">
    <h1>Favorites</h1>
    <p>Save your favorite items here or export them to use them elsewhere.</p>
  </div>

  <div class="sub_content">
    <a class="start" {{action "close"}}>Let's see what's out there!</a>
    <p>Don't want your content showing up here? <a href="#">Here's how</a>.</p>
  </div>

  <p id="made_possible_by">
    Made possible through the Knight News Challenge, an initiative of the
    John S. and James L. Knight Foundation.
    <a href="#">Learn more about the project</a>.
  </p>

  <div id="welcome-overlay-footer">
    Designed by <a href="http://adaptivepath.com" target="_blank">Adaptive Path</a><br>
    Built by <a href="http://edgecase.com" target="_blank">EdgeCase</a>
    <a href="http://adaptivepath.com" target="_blank" class="adaptive">Adaptive Path</a>
    <a href="http://edgecase.com" target="_blank" class="edgecase">EdgeCase</a>
  </div>
</div>
