<!DOCTYPE html>
<html>
<head>
  <title>iWitness</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=#{GMAPS['api_key']}&sensor=false&libraries=geometry" %>
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
